<div id="modal-error" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body text-center">
            Auth0 is experiencing some issues.  Please refresh this page or contact customer service.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="ok()">OK</button>
        </div>
        </div>
    </div>
</div>